{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark px-5 fixed-top">
        <a type="button" class="btn bsb-btn-xl btn-primary gap-3" href="{{ tgPath ? path('app_login', {tgPath: tgPath}) : path('home') }}">Retours</a>
    </nav>
    <main class="d-flex flex-column justify-content-center align-items-center gap-4 py-2 px-5 nav-margin-top nav-margin-bottom">
        <h1>S'Inscrire</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-lg btn-primary">S'Inscrire</button>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
