{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block importLink %}

{% endblock %}

{% block stylesheets %}{% endblock %}

{%  block javascripts %}

{%  endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark px-5 fixed-top justify-content-between">
        <a type="button" class="btn bsb-btn-xl btn-primary gap-3" href="{{ path('home') }}">Accueil</a>
        <h3 class="text-white mx-auto text-center">Menu Administrateur</h3>
    </nav>
    <main class="d-flex flex-column justify-content-center align-items-center py-2 px-5 nav-margin-top">
        <div class="d-flex flex-column gap-4 w-75">
            <a class="btn btn-primary" href="{{ path('admin.entity.index', {entityType: "especes"} ) }}">Espèce</a>
            <a class="btn btn-primary" href="{{ path('admin.entity.index', {entityType: "quiz"} ) }}">Quiz</a>
            <a class="btn btn-primary" href="{{ path('admin.entity.index', {entityType: "challenges"} ) }}">Challenge</a>
            <a class="btn btn-primary" href="{{ path('admin.entity.index', {entityType: "zones"} ) }}">Zone</a>
            <a class="btn btn-primary" href="{{ path('admin.entity.index', {entityType: "parcours"} ) }}">Parcours</a>
            <a class="btn btn-primary" href="{{ path('admin.entity.index', {entityType: "badges"} ) }}">Badge</a>
        </div>
    </main>

{% endblock %}
