{% extends 'base.html.twig' %}

{% block title %}TerraQuest - Jeu{% endblock %}

{% block importLink %}

{% endblock %}

{% block stylesheets %}{% endblock %}

{%  block javascripts %}
    <script>

        document.addEventListener("DOMContentLoaded", function () {

            // Fonction pour gérer l'événement du bouton "Nouvel Indice"
            const newHintButton = document.querySelector("a.btn[data-action='next-area']");
            newHintButton.addEventListener("click", function(event) {
                event.preventDefault();

                const gameID = "{{ gameID }}";

                fetch("{{ path('api.next_area') }}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: JSON.stringify({ gameID: gameID })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Si la nouvelle zone arrive avec succès, redirige l'utilisateur vers la page pour atteindre la zone en question
                            window.location.href = "{{ path('play.reach_area', {gameID: gameID, areaID: "__areaID__"}) }}".replace("__areaID__", data.message.newAreaID);
                        } else {
                            alert('Erreur lors de la demande d\'indice: ' + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Erreur:', error);
                        alert('Une erreur est survenue.');
                    });
            });

        });
    </script>
{%  endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark px-5 fixed-top">
        <a type="button" class="btn bsb-btn-xl btn-primary gap-3" href="{{ path('home') }}">Accueil</a>
    </nav>

    <main class="d-flex flex-column justify-content-center align-items-center py-2 px-5 nav-margin-top" style="min-height: 90dvh">
        <div class="d-flex flex-column gap-4">
            <div class="d-flex flex-column justify-content-center align-items-center px-5 gap-3">
                <h2>Bravo !</h2>
                <h3>Vous avez trouvé la bonne espèce !</h3>
            </div>
            <hr class="hr-rounded">
            <div class="d-flex flex-column justify-content-center align-items-center px-5 gap-3">
                <h3>Testez-vous avec un quiz sur cette espèce !</h3>
                <a class="btn btn-primary" href="{{ path('play.quiz', {gameID: gameID}) }}">Quiz</a>
            </div>
            <hr class="hr-rounded">
            <div class="d-flex flex-column justify-content-center align-items-center px-5 gap-3">
                <h3>Passez à la zone suivante</h3>
                <a type="button" class="btn bsb-btn-xl btn-primary gap-3" href="#" data-action="next-area">Zone suivante</a>
            </div>
        </div>
    </main>

{% endblock %}
